# Koneksi Database MySQL

### Dasar Teori

MySQL sendiri adalah sebuah database management system yang menggunakan perintah dasar SQL (Structured Query Language) yang bersifat open source.

MySQL memiliki antarmuka atau interface yang Bernama PHPMyAdmin.

Keunggulan MySQL:
1. Does not require a big RAM resource
2. Compatible with a lot of programming languages
3. flexible data structure

#
### Instalasi mysql-connector

#### Koneksi ke MySQL

In [3]:
import mysql.connector

db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
)

if db.is_connected():
    print("Connection successful")

Connection successful

#### Membuat database baru

In [4]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
)

real = db.cursor()
real.execute("CREATE DATABASE IF NOT EXISTS seantuy")
print("Database created successfully")

Database created successfully

#### Mengecek Database

mengecek database dapat dilakukan dengan membuka aplikasi phpMyAdmin dengan membuka http://localhost/phpmyadmin atau menggunakan code berikut

In [20]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
)
real = db.cursor()
real.execute("SHOW DATABASES")

list_db = real.fetchall()
print(list_db)
print(" ")
list_db = [ i[0] for i in list_db]
for i in list_db:
    print(i)

[('book_supplier',), ('hmtk',), ('information_schema',), ('mysql',), ('performance_schema',), ('phpmyadmin',), ('seantuy',), ('snek',), ('sriarsa',)]

book_supplier
hmtk
information_schema
mysql
performance_schema
phpmyadmin
seantuy
snek
sriarsa

### CRUD (Create, Read, Update, Delete)

CRUD adalah singkatan yang berasal dari Create, Read, Update, dan Delete, dimana keempat istilah tersebut merupakan perintah utama yang nantinya diimplementasikan ke dalam basis data. Ada tambahan yaitu Insert Data

#### Membuat Table (Create)

In [5]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "seantuy"
)
real = db.cursor()
table_content = '''CREATE TABLE IF NOT EXISTS asisten_lab (
    id_aslab INT AUTO_INCREMENT PRIMARY KEY,
    nama VARCHAR(255),
    kode VARCHAR(255),
    umur INT
)
'''
real.execute(table_content)
print("Table created")

Table created

#### Mengisi data ke tabel (Insert)

In [6]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "seantuy"
)
real = db.cursor()

data_table = "INSERT INTO asisten_lab (nama, kode, umur) VALUES (%s, %s, %s)"
value = [
    ('Faraday', 'ARA', 20),
    ('Cetta', 'CMA', 22),
    ('Aldo', 'DAO', 20)
]

for val in value:
    real.execute(data_table, val)
    db.commit()

#### Membaca isi tabel (Read)

In [7]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "seantuy"
)
real = db.cursor()
real.execute("SELECT nama,kode FROM asisten_lab")

data = real.fetchall()

for  x in data:
    print(x)

('Faraday', 'ARA')
('Cetta', 'CMA')
('Aldo', 'DAO')

#### Mengubah isi tabel (Update)

In [35]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "seantuy"
)
real = db.cursor()

kondisi = input("Masukkan Nama yang mau diubah : ")
nama = input("Masukkan Nama Baru : ")
kode = input("Masukkan Kode Baru : ")
umur = input("Masukkan Umur Baru : ")

ubah = "UPDATE asisten_lab SET nama = %s, kode = %s, umur = %s WHERE nama = %s"
data_ubah = (nama, kode, umur, kondisi)
real.execute(ubah,data_ubah)

db.commit()

real.execute(f"SELECT nama,kode FROM asisten_lab WHERE nama = '{nama}'")
data = real.fetchall()

for x in data:
    print(x)

('Pepe', 'PPE')

#### Menghapus data (Delete)

In [21]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "seantuy"
)
real = db.cursor()
data_delete = "DELETE FROM asisten_lab WHERE nama = %s"
#val = "Cetta"
val = input("Masukkan nama dari data yang akan dihapus : ")

real.execute(data_delete,(val, ))
db.commit()


real.execute("SELECT nama,kode,umur FROM asisten_lab")
data = real.fetchall()

for x in data:
    print(f"Nama : {x[0]}")
    print(f"Kode : {x[1]}")
    print(f"Umur : {x[2]}")
    print("===================")

Nama : Faraday
Kode : ARA
Umur : 20
===================
Nama : Aldo
Kode : DAO
Umur : 20
===================

#### Menghapus Tabel (Delete)

In [ ]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "seantuy"
)
real = db.cursor()
nama_tabel = input("Masukkan nama tabel: ")
jawaban = input(f"Apakah kamu benar benar ingin menghapus {nama_tabel} (y/n)") 
if ( jawaban == "y" or jawaban == "Y") :
        real.execute(f"DROP TABLE {nama_tabel}")
        print("Table berhasil Terhapus!")
else :
    print("Oke gajadi")

#### Menghapus Databse (Delete)

In [1]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = ""
)
real = db.cursor()
nama_db = input("Masukkan nama database: ")
jawaban = input(f"Apakah kamu benar benar ingin menghapus {nama_db} (y/n)") 
if ( jawaban == "y" or jawaban == "Y") :
        real.execute(f"DROP DATABASE {nama_db}")
        print("Database berhasil Terhapus!")
else :
    print("Oke gajadi")

NameError: name 'mysql' is not defined